<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="liusuwan.androiddemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecyAddRecyActivity"
            android:label="@string/title_activity_recy_add_recy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyLoadActivity"
            android:label="@string/title_activity_recy_load"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PrismActivity"
            android:label="@string/title_activity_prism"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyAutoFitActivity"
            android:label="@string/title_activity_recy_auto_fit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BluetoothActivity"
            android:label="@string/title_activity_bluetooth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ChangeAnimaActivity"
            android:label="@string/title_activity_change_anima"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyAnimActivity"
            android:label="@string/title_activity_recy_anim"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>